*.out
A3/Lenni/matrix/target/

A3/Lenni/matrix/Cargo\.lock

A3/Lenni/matrix/m1

A3/Lenni/matrix/m2

A3/Lenni/matrix/rand_mat

A3/Lenni/matrix/rmg

A3/Lenni/matrix/test

A3/Lenni/matrix/test\.rs

*.o
